:root {
  color-scheme: dark;
  --toastify-color-success: #646cff;
  --toastify-color-error: #dc3545;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Remove any other styles from index.css as they're now handled in App.css */
